In [174]:
import pandas as pd

In [211]:
df = pd.read_csv('Average Income House Hold By Income.csv')

In [212]:
df.head()

,zipcodes,location,city,population,avg_Income,national Rank
0,15201,"40.474607, -79.952113",Pittsburgh,14326,27031,"#26,607"
1,15202,"40.506932, -80.069067",Pittsburgh,21022,34727,"#17,787"
2,15203,"40.425326, -79.976226",Pittsburgh,9613,27595,"#26,044"
3,15204,"40.456102, -80.063805",Pittsburgh,9502,32859,"#19,885"
4,15205,"40.437901, -80.097688",Pittsburgh,22586,38507,"#13,452"

In [242]:
income = df[['zipcodes','avg_Income']]
print income

    zipcodes  avg_Income
0      15201       27031
1      15202       34727
2      15203       27595
3      15204       32859
4      15205       38507
5      15206       28517
6      15207       28156
7      15208       24178
8      15209       38292
9      15210       27041
10     15211       34067
11     15212       26712
12     15213       18473
13     15214       30725
14     15215       43750
15     15216       39526
16     15217       45173
17     15218       35983
18     15219       14399
19     15220       44018
20     15221       30668
21     15222       18598
22     15223       33724
23     15224       22880
24     15225       30625
25     15226       37889
26     15227       38439
27     15228       58440
28     15229       40562
29     15232       32552
30     15233       23841
31     15234       40756
32     15235       41367
33     15236       46913
34     15237       55016
35     15238       67370
36     15239       48415
37     15241       85102
38     15243       60717

In [177]:
import json, numpy, scipy.stats, string, sys

In [179]:
def biz_parse():
    ''' Parses yelp BUSINESS dataset - Extracting only restaurants. '''
    print "Parsing Business Data.  Getting business_id, review_count, name"
    jsonData = open("yelp_academic_dataset_business.json")
    bizData = {}
    categoryList = list()
    for line in jsonData:
    	data = json.loads(line)
    	business_id = data["business_id"]
    	review_count = data["review_count"]
    	name = data["name"]
    	categories = data["categories"]
        state = data["state"]
        opentime = data['hours']
        
        if len('hours')> 0:
    	    if "Tuesday" in opentime:
                try: opentime1 = opentime["Tuesday"]['open']
                except KeyError: opentime1 = "NA"
         
        closetime = data['hours']
        
        if len('hours')> 0:
    	    if "Tuesday" in closetime:
                try: closetime1 = opentime["Tuesday"]['close']
                except KeyError: opentime1 = "NA"
                
    	city = data["city"]
        
        zipcodes = data['full_address'][-6:]
    	latitude = data["latitude"]
    	longitude = data["longitude"]
        stars = data["stars"]
        attributes =  data["attributes"]
    	
    	if len(categories)> 0:
    	    if "Restaurants" in categories:
		try: priceRange = attributes["Price Range"]
                except KeyError: priceRange = "NA"
                try: NoiseLevel = attributes["Noise Level"]
                except KeyError: NoiseLevel = "NA"
                try: Delivery = attributes["Delivery"]
                except KeyError: Delivery = "NA"
		bizData[business_id] = [review_count, name, categories, opentime1, closetime1, state, city, zipcodes, latitude, longitude, stars, priceRange, NoiseLevel, Delivery]
    	        categoryList += categories
    print len(bizData), "businesses added"
    return bizData

In [180]:
data=pd.DataFrame(biz_parse())

Parsing Business Data.  Getting business_id, review_count, name
21892 businesses added

In [181]:
data1 = data.transpose()

In [186]:
#data1

In [188]:
data1.columns = ['review_count', 'name', 'categories', 'opentime','closetime', 'state', 'city', 'zipcodes','latitude', 'longitude', 'stars','priceRange', 'noiselevel', 'delivery']
#data1

In [184]:
datapit = data1[data1['city'] == 'Pittsburgh']

In [231]:
datacom = pd. pd.read_csv(combined)